<div class="row">
    <div class="col-md-4">
        <!-- <mat-form-field>
            <mat-select [formControl]="stateCtrl" placeholder="States" #singleSelect>
                <mat-select-search [formControl]="stateFilterCtrl"></mat-select-search>
                <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                    {{ state.name }}
                </mat-option>
            </mat-select>
        </mat-form-field> -->

        <mat-form-field>
            <mat-label>States</mat-label>
            <mat-select [(ngModel)]="selectedState" name="States">
                <mat-option *ngFor="let state of states" [value]="state">
                    {{state.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md">
                <!-- Selected State: {{ stateCtrl.value?.name }} -->
                Selected State: {{ selectedState?.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md" style="height: 70vh;">
                <!-- <object style="width: 100%;height: 65%;" type="image/svg+xml"
                    [data]="getSvgUrl(stateCtrl.value)"></object> -->
                <img class="svg-img-tag" type="image/svg+xml" [src]="getSvgUrl(selectedState)">
            </div>
        </div>
    </div>
</div>