<div class="row">
    <div class="col-md-12"><h3>The Team COPE</h3></div>
</div>
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <a href="https://www.linkedin.com/in/abhijeet-sonaje" target="_blank">
            <h4>Abhijeet Sonaje</h4>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <a href="https://www.linkedin.com/in/abhimanyubh/" target="_blank">
            <h4>Abhimanyu Bhosale</h4>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <a
            href="https://www.linkedin.com/in/sridhar-bodapati-6901a11/"
            target="_blank"
        >
            <h4>Dr. Bodapati Sridhar</h4>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <a href="" target="_blank">
            <h4>Dr. Hemant Kulkarni (Epidemiologist)</h4>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <a href="https://www.linkedin.com/in/naman-modi/" target="_blank">
            <h4>Naman Modi</h4>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <a href="https://www.linkedin.com/in/rajeshb/" target="_blank">
            <h4>Rajesh Batheja</h4>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <a
            href="https://www.linkedin.com/in/santosh-kumar-jeelakarra-12994487/"
            target="_blank"
        >
            <h4>Santosh Kumar Jeelakarra</h4>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <a href="https://www.linkedin.com/in/sashacherian/" target="_blank">
            <h4>Sasha Cherian</h4>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <a href="https://www.linkedin.com/in/shlokagarwalla/" target="_blank">
            <h4>Shlok Agarwalla</h4>
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5"></div>
</div>

<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <h4 style="font-size: 22px;">
            <em>Please feel free to write us at rajesh.batheja@gmail.com</em>
        </h4>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <h4 style="font-size: 22px;">
            Visit
            <a
                href="https://coronathon.in/"
                target="_blank"
                style="text-decoration: none; color: darkslateblue;"
            >
                Coronathon!</a
            >
        </h4>
    </div>
</div>
